body {
    background-color: lightpink;
    font-family: Arial, sans-serif;
}

marquee {
    color: purple;
    font-size: 28px;
    padding: 10px;
    font-weight: bold;
}

p {
    margin: 80px;
    color: #333;
    font-size: 18px;
    line-height: 1.8;
}

img {
    height: 400px;
    width: 45%;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 0 10px gray;
}
