body {
    background-color: #ffe4e9;
    font-family: Arial, sans-serif;
}

p {
    margin: 80px;
    color: #333;
    font-size: 18px;
    line-height: 1.8;
}

img {
    height: 400px;
    width: 45%;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 0 10px gray;
}

p::first-line {
    font-weight: bold;
    color: purple;
}
